/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 */

/**
 * file and is applied both to the front end and in the block editor.
 */

html {
	font-size: calc(0.2500000000000001rem + 0.8333333333333333vw);
}
@media screen and (max-width: 1920px) {
	html {
		font-size: calc(0.06249999999999967rem + 1.041666666666667vw);
	}
}
@media screen and (max-width: 1440px) {
	html {
		font-size: calc(0.8126951092611863rem + 0.20811654526534862vw);
	}
}
@media screen and (max-width: 767px) {
	html {
		font-size: calc(0.21399999999999997rem + 3.2vw);
	}
}
@media screen and (max-width: 393px) {
	html {
		font-size: calc(0.7493622448979592rem + 1.020408163265306vw);
	}
}

/* tailwind/custom/base.css */
html {
	scroll-behavior: smooth;
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@apply font-primary text-neutral-black;
}

button {
	@apply cursor-pointer;
}

/* Adjust when admin bar is present */
.admin-bar header {
	@apply top-11.5 md:top-8;
}

/* Alpine JS */
[x-cloak] {
	display: none !important;
}
