/**
 * Custom styles to immediately follow Tailwind’s `utilities` layer
 *
 * Add your own utility classes to this theme. Complex utility classes should
 * be added using Tailwind’s plugin system:
 *
 * https://tailwindcss.com/docs/adding-custom-styles#adding-custom-utilities
 */

@utility container {
	margin-inline: auto;
	padding-inline: 1.25rem;
	max-width: none;

	@variant lg {
		padding-inline: 3.5rem;
	}
}

@utility container-lg {
	margin-inline: auto;
	padding-inline: 1.25rem;

	@variant lg {
		padding-inline: 4.5rem;
	}
}
